@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap')
    
*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: #292929
    color: #000
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh
    font-family: 'Poppins', sans-serif

section
    position: relative
    //display: flex
    //justify-content: center
    //align-items: center
    //min-height: 100vh
    padding: 20%
    transition: .5s
    .container
        position: relative
        width: 800px
        height: 500px
        background-color: #fff
        box-shadow: 0 15px 50px rgba(#000,.1)
        overflow: hidden //Lo agrego alfinal
        .user
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            display: flex
            .img-box
                position: relative
                width: 50%
                height: 100%
                transition: .5s
                //display: flex
                img
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    object-fit: cover
            .form-box
                position: relative
                width: 50%
                height: 100%
                background-color: #fff
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column //Agregado
                padding: 40px
                transition: .5s
                h2
                    font-size: 18px
                    font-weight: 600
                    text-transform: uppercase
                    letter-spacing: 2px
                    text-align: center
                    width: 100%
                    margin-bottom: 10px
                    color: #555
                input
                    width: 100%
                    padding: 10px
                    background: #f5f5f5
                    border: none
                    outline: none
                    box-shadow: none
                    font-size: 14px
                    margin: 8px 0
                    letter-spacing: 1px
                    font-weight: 300
                input[type="submit"]
                    max-width: 100px
                    background-color: #677eff
                    color: #fff
                    border-radius: 5px
                    cursor: pointer
                    font-weight: 500
                    letter-spacing: 1px
                    transition: .5s
                .signup
                    position: relative
                    margin-top: 20px
                    font-size: 12px
                    letter-spacing: 1px
                    color: #555
                    text-transform: uppercase
                    font-weight: 300
                    a
                        font-weight: 600
                        text-decoration: none
                        color: #577eff
                        cursor: pointer //Luego borrarlo

        .signin-box
            //display: none
            //pointer-events: none
            .img-box
                top: 0
            .form-box
                top: 0
        .signup-box
            //display: none
            top: 0
            pointer-events: none //Quitamos los eventos del click
            .img-box
                top: -100% //La imagen se va para arriba
                
            .form-box
                top: 100% //De esta manera vemos los 2 formularios
                input[type="submit"]
                    background-color: #e73e49
    .active
        .signin-box
            .img-box
                top: -100%                
            .form-box
                top: 100%
                transition: .5s
        .signup-box
            pointer-events: all
            .img-box
                top: 0
            .form-box
                top: 0
.active
    background-color: #557085 //Cambiamos el color del fondo